body {
	font-family: calibri, arial;
	margin: 0;
	padding: 0;
	height: 100%;
}

header {
	background-color: rgba(150, 150, 150, 1.0);
}

h1 {
	display: inline-block;
	font-size: 500%;
	padding-left: 1%;
}

img.logo {
	display: inline-block;
	width: 12%;
	float: right;
	margin-right: 3%;
	margin-top: 4%;
}

nav a {
	margin: 1%;
	text-align: center;
	display: inline-block;
	width: 15%;
	height: 10%;
	color: rgba(0, 0, 0, 1.0);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5);
	line-height: 250%;
	font-size: 150%;
}

nav a:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

nav a.active {
	background-color: rgba(255, 255, 255, 1.0);
	color: rgba(10, 30, 247, 1);
}

main {
	margin: 1%;
	word-wrap: break-word;
}

a {
	color: rgba(10, 30, 247, 1.0);
}

footer {
	background-color: rgba(70, 70, 70, 1.0);
	color: rgba(255, 255, 255, 1.0);
	position: relative;
	bottom: 0;
}

footer a {
	color: rgba(103, 210, 240, 1.0);
}

footer p {
	padding-left: 1%;
}